.body_container {
    display: inline-flex;
}

.main_container {
    display: inline-block;
    font-size: 24px;
}

.input {
    display: block;
    font-size: 24px;
    width: 100%;
    margin: 20px;
}

.btn {
    font-size: 24px;
    width: 400px;
    height: 50px;
    margin: 20px;
}

.label {
    display: block;
    margin: 20px;
}

.label_input_container {
    width: 450px;
}

.form {
    border: 5px solid gray;
    width: 454px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.settings_container{
    margin: 20px;
    vertical-align: top;
    display: inline-block;
}

.settings_btn{
    font-size: 36px;
    width: 400px;
    height: 100px;
}

.reports_container{
    margin: 20px;
    vertical-align: top;
    display: inline-block;
}

.total_btn{
    font-size: 36px;
    width: 400px;
    height: 100px;
}