.body_container {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.inner_container {
    margin: 5px;
}

.default_table {
    border-collapse: collapse;
    border: 3px solid grey;
}

.table_header{
    border: 2px solid darkblue;
    text-align: center;
    background-color: lightskyblue;
}

.table_row:last-child{
    border: 2px solid darkblue;
    text-align: center;
    background-color: lightskyblue;
}

.table_data{
    border: 1px solid darkblue;
    text-align: center;
}

select{
    font-size: 18px;
    width: 154px;
}

option{
    font-size: 18px;
}