<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="https://github.com/fluidicon.png" itemprop="image">
    <title>BuyerAssistant</title>
    <link rel="shortcut icon" href="/static/steeleks_logo.png" type="image/x-icon">
    <link rel="icon" href="/static/steeleks_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/indexpage.css">
</head>

<body>
    <div class="body_container">
        <div class="main_container">

            <form action="/uploadAccept" method="post" enctype="multipart/form-data" class="form">

                <div class="label_input_container">
                    <label class="label">Акцепт ММК</label>
                    <input type="file" accept=".xls" name="mmkAccept" required class="input">
                </div>

                <hr>

                <button class="btn">SEND</button>

            </form>


            <form action="/uploadMultipleFiles" method="post" enctype="multipart/form-data" class="form">

                <div class="label_input_container">
                    <label class="label">Прочие заводы</label>
                    <input type="file" accept=".xlsx" name="otherFactories" required class="input">
                </div>

                <hr>

                <div class="label_input_container">
                    <label class="label">Оракл ММК</label>
                    <input type="file" accept=".xlsx" name="oracleMmk" required class="input">
                </div>

                <hr>

                <div class="label_input_container">
                    <label class="label">Зависимости ММК</label>
                    <input type="file" accept=".xlsx" name="dependenciesMmk" required class="input">
                </div>

                <hr>

                <button class="btn">SEND</button>

            </form>


            <form action = "/downloadAllFiles" method="get" class="form">

                <button class="btn">***DOWNLOAD ALL FILES***</button>

            </form>

            <form action = "/sendAllFiles" method="get" class="form">

                <button class="btn">***SEND ALL FILES***</button>

            </form>

        </div>

        <div class="settings_container">
            <form action="/settings" method="get">
                <button class="settings_btn">SETTINGS</button>
            </form>

        </div>
    </div>
</body>

</html>