<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="https://github.com/fluidicon.png" itemprop="image">
    <title>BuyerAssistant</title>
    <link rel="shortcut icon" href="/static/steeleks_logo.png" type="image/x-icon">
    <link rel="icon" href="/static/steeleks_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/settings_page.css">
</head>

<body>
    <div th:text="${userResponse}"></div>
    <form method="get" action="/">
            <input type="submit" value="ВЕРНУТЬСЯ НА ГЛАВНУЮ СТРАНИЦУ">
    </form>

    <div th:each="result : ${sendEmails}">
        <div th:text="${result}"></div>
    </div>

    <br>
    <table th:if="${!undefinedBranchRows.isEmpty()}">
        <tr>
            <th>ПОСТАВЩИК</th>
            <th>НОМЕР ЗАКАЗА</th>
            <th>МЕСЯЦ</th>
            <th>ГОД</th>
        </tr>
        <tr th:each="undefinedBranchRow : ${undefinedBranchRows}">
            <td th:text="${undefinedBranchRow.supplier}"></td>
            <td th:text="${undefinedBranchRow.spec}"></td>
            <td th:text="${undefinedBranchRow.acceptMonth}"></td>
            <td th:text="${undefinedBranchRow.year}"></td>
        </tr>
    </table>
</body>

</html>