<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="https://github.com/fluidicon.png" itemprop="image">
    <title>BuyerAssistant</title>
    <link rel="shortcut icon" href="/static/steeleks_logo.png" type="image/x-icon">
    <link rel="icon" href="/static/steeleks_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/settings_page.css">
</head>

<body>
    <div th:text="${userResponse}"></div>
    <form method="get" action="/main">
            <input type="submit" value="ВЕРНУТЬСЯ НА ГЛАВНУЮ СТРАНИЦУ">
    </form>

    <div th:each="result : ${sendEmails}">
        <div th:text="${result}"></div>
    </div>
</body>

</html>