<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="https://github.com/fluidicon.png" itemprop="image">
    <title>BuyerAssistantSettings</title>
    <link rel="shortcut icon" href="/static/steeleks_logo.png" type="image/x-icon">
    <link rel="icon" href="/static/steeleks_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/settings_page.css">
</head>

<body>
    <div class="body_container">
        <table class="table_for_each_branch">
            <tr class="table_for_each_branch_row">
                <th class="table_for_each_branch_header">Филиал</th>
                <th class="table_for_each_branch_header">Стартовый месяц</th>
                <th class="table_for_each_branch_header">Изменить</th>
            </tr>
            <tr th:each="branch : ${branchEntities}" class="table_for_each_branch_row">
                <td th:text="${branch.name}" class="table_for_each_branch_data">
                </td>
                <td class="table_for_each_branch_data"
                    th:with="mIndex=(${branch.startMonth}-1)"
                    th:text="${months.get(mIndex)}">
                </td>
                <td class="table_for_each_branch_data">
                        <select form="start_month_for_each" name="values[]">
                            <option th:each="i : ${#numbers.sequence(1, 12)}"
                                    th:value="${i}"
                                    th:with="index=(${i}-1)"
                                    th:text="${months.get(index)}"
                                    th:selected="${i==branch.startMonth}">
                            </option>
                        </select>
                </td>
            </tr>
            <tr class="table_for_each_branch_row">
                <td class="table_for_each_branch_data">Изменить настройки</td>
                <form id="start_month_for_each" method="post">
                    <td class="table_for_each_branch_data">
                        <input type="submit" value="СОХРАНИТЬ" formaction="/settings/save_month_settings">
                    </td>
                    <td class="table_for_each_branch_data">
                        <input type="submit" value="СОХРАНИТЬ И ВЫЙТИ" formaction="/settings/save_month_settings/to_main_page">
                    </td>
                </form>
            </tr>
        </table>
    </div>
</body>

</html>