<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="https://github.com/fluidicon.png" itemprop="image">
    <title>BuyerAssistantSettings</title>
    <link rel="shortcut icon" href="/static/steeleks_logo.png" type="image/x-icon">
    <link rel="icon" href="/static/steeleks_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/settings_page.css">
</head>

<body>

    <div class="body_container">
        <div class="inner_container">
            <table class="default_table">
                <tr class="table_row">
                    <th class="table_header">Филиал</th>
                    <th class="table_header">Стартовый месяц</th>
                </tr>

                <tr th:each="branch : ${branchEntities}" class="table_row">
                    <td th:text="${branch.name}" class="table_data">
                    </td>
                    <td class="table_data">
                            <select form="start_month_for_each" name="values[]">
                                <option th:each="i : ${#numbers.sequence(1, 12)}"
                                        th:value="${i}"
                                        th:with="index=(${i}-1)"
                                        th:text="${months.get(index)}"
                                        th:selected="${i==branch.startMonth}">
                                </option>
                            </select>
                    </td>
                </tr>

                <tr class="table_row">
                    <form id="start_month_for_each" method="post">
                        <td class="table_data">
                            <input type="submit" value="СОХРАНИТЬ И ВЫЙТИ" formaction="/settings/save_month_settings/to_main_page">
                        </td>
                        <td class="table_data">
                            <input type="submit" value="СОХРАНИТЬ" formaction="/settings/save_month_settings">
                        </td>
                    </form>
                </tr>
            </table>
        </div>

        <div class="inner_container">
            <table class="default_table">
                <tr class="table_row">
                    <th class="table_header">Филиал</th>
                    <th class="table_header">Почта</th>
                </tr>

                <tr th:each="email : ${emails}" class="table_row">
                    <td th:text="${email.branchName}" class="table_data">
                    </td>
                    <td th:text="${email.emailAddress}" class="table_data">
                    </td>
                    <td class="table_data">
                        <form th:action="@{/settings/mail/}" method="post">
                            <input type="number" hidden th:value="${email.id}" name="removeId">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" value="remove">
                        </form>
                    </td>
                </tr>

                <tr class="table_row">
                    <td class="table_data">
                        <form id="mail_form" method="post">
                            <select form="mail_form" name="selectedBranch" required>
                                <option disabled selected></option>
                                <option th:each="branch : ${branchEntities}" th:text="${branch.name}">
                                </option>
                            </select>
                        </form>
                    </td>
                    <td class="table_data">
                        <input form="mail_form" type="email" name="addedEmail" placeholder="Введите email">
                    </td>
                    <td class="table_data">
                        <input form="mail_form" type="submit" value="Добавить" formaction="/settings/mail">
                    </td>
                </tr>
            </table>
        </div>

    </div>

</body>

</html>